YVINQABXY/Processes/ElectronicBilling/WebService/SendInvoice/EWSSendEBill-WSFERecepcionFactSAP_PRD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="urn:ws.qnan.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:ws.qnan.com" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ws.qnan.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ws.qnan.com">
      <xsd:element name="recepcionFact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RucEmisor" type="xsd:string" />
            <xsd:element name="cabecera" type="impl:CabeceraFacturaBean" />
            <xsd:element name="itemFactura" type="impl:ItemFacturaBeanArray" />
            <xsd:element name="impuestos" type="impl:ImpuestoFacturaBeanArray" />
            <xsd:element name="percepcion" type="impl:PercepcionFacturaBean" />
            <xsd:element name="conceptosTrib" type="impl:ConceptosTributariosFacturaBeanArray" />
            <xsd:element name="infoAdicionalTributario" type="impl:InfoAdicionalFacturaBeanArray" />
            <xsd:element name="infoAdicionalGeneral" type="impl:InfoAdicionalGeneralArray" />
            <xsd:element name="documentoAfectado" type="impl:DocumentoAfectadoArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CabeceraFacturaBean">
        <xsd:sequence>
          <xsd:element name="ruc" nillable="true" type="xsd:string" />
          <xsd:element name="tipoDocumentoIdentificacion" nillable="true" type="xsd:string" />
          <xsd:element name="nombreComercial" nillable="true" type="xsd:string" />
          <xsd:element name="tipoDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="numeroDocumento" nillable="true" type="xsd:string" />
          <xsd:element name="tipoMonedaPais" nillable="true" type="xsd:string" />
          <xsd:element name="tipoMonedaOrigen" nillable="true" type="xsd:string" />
          <xsd:element name="razonSocial" nillable="true" type="xsd:string" />
          <xsd:element name="ubigeo" nillable="true" type="xsd:string" />
          <xsd:element name="direccion" nillable="true" type="xsd:string" />
          <xsd:element name="urbanizacion" nillable="true" type="xsd:string" />
          <xsd:element name="departamento" nillable="true" type="xsd:string" />
          <xsd:element name="provincia" nillable="true" type="xsd:string" />
          <xsd:element name="distrito" nillable="true" type="xsd:string" />
          <xsd:element name="codigoPais" nillable="true" type="xsd:string" />
          <xsd:element name="rucCliente" nillable="true" type="xsd:string" />
          <xsd:element name="tipoDocumentoIdentificacionCliente" nillable="true" type="xsd:string" />
          <xsd:element name="direccionCliente" nillable="true" type="xsd:string" />
          <xsd:element name="razonSocialCliente" nillable="true" type="xsd:string" />
          <xsd:element name="importeTotal" nillable="true" type="xsd:string" />
          <xsd:element name="numeroGuiaRemision" nillable="true" type="xsd:string" />
          <xsd:element name="codigoTipoDocumentoGuia" nillable="true" type="xsd:string" />
          <xsd:element name="flagPercepcion" nillable="true" type="xsd:string" />
          <xsd:element name="descuentoGlobal" nillable="true" type="xsd:string" />
          <xsd:element name="fechaEmision" nillable="true" type="xsd:string" />
          <xsd:element name="flagSpot" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemFacturaBean">
        <xsd:sequence>
          <xsd:element name="correlativo" nillable="true" type="xsd:string" />
          <xsd:element name="unidadMedida" nillable="true" type="xsd:string" />
          <xsd:element name="cantidad" nillable="true" type="xsd:string" />
          <xsd:element name="moneda" nillable="true" type="xsd:string" />
          <xsd:element name="montoTotalItem" nillable="true" type="xsd:string" />
          <xsd:element name="precioUnitario" nillable="true" type="xsd:string" />
          <xsd:element name="codigoValorUnitario" nillable="true" type="xsd:string" />
          <xsd:element name="importeTotalImpuesto" nillable="true" type="xsd:string" />
          <xsd:element name="importeTotalImpuesto_sub" nillable="true" type="xsd:string" />
          <xsd:element name="porcentajeImpuesto" nillable="true" type="xsd:string" />
          <xsd:element name="codigoAfectacionIGV" nillable="true" type="xsd:string" />
          <xsd:element name="identificacionTributo" nillable="true" type="xsd:string" />
          <xsd:element name="nombreTributo" nillable="true" type="xsd:string" />
          <xsd:element name="codigoTributo" nillable="true" type="xsd:string" />
          <xsd:element name="flagConISC" nillable="true" type="xsd:string" />
          <xsd:element name="importeTotalImpuesto_isc" nillable="true" type="xsd:string" />
          <xsd:element name="importeTotalImpuesto_sub_isc" nillable="true" type="xsd:string" />
          <xsd:element name="porcentajeImpuesto_isc" nillable="true" type="xsd:string" />
          <xsd:element name="codigoAfectacionISC" nillable="true" type="xsd:string" />
          <xsd:element name="identificacionTributo_isc" nillable="true" type="xsd:string" />
          <xsd:element name="nombreTributo_isc" nillable="true" type="xsd:string" />
          <xsd:element name="codigoTributo_isc" nillable="true" type="xsd:string" />
          <xsd:element name="descripcionMaterial" nillable="true" type="xsd:string" />
          <xsd:element name="codigoMaterial" nillable="true" type="xsd:string" />
          <xsd:element name="valorVentaUnitario" nillable="true" type="xsd:string" />
          <xsd:element name="descuentoItem" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemFacturaBeanArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:ItemFacturaBean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImpuestoFacturaBean">
        <xsd:sequence>
          <xsd:element name="importeTotal" nillable="true" type="xsd:string" />
          <xsd:element name="importeExplicito" nillable="true" type="xsd:string" />
          <xsd:element name="identificacionTributo" nillable="true" type="xsd:string" />
          <xsd:element name="nombreTributo" nillable="true" type="xsd:string" />
          <xsd:element name="codigoTributo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImpuestoFacturaBeanArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:ImpuestoFacturaBean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PercepcionFacturaBean">
        <xsd:sequence>
          <xsd:element name="idConcepto" nillable="true" type="xsd:string" />
          <xsd:element name="montoPrecepcion" nillable="true" type="xsd:string" />
          <xsd:element name="baseImponiblePercepcion" nillable="true" type="xsd:string" />
          <xsd:element name="montoIncluidoPercepcion" nillable="true" type="xsd:string" />
          <xsd:element name="porcentaje" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConceptosTributariosFacturaBean">
        <xsd:sequence>
          <xsd:element name="idConcepto" nillable="true" type="xsd:string" />
          <xsd:element name="totalValorOperacion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConceptosTributariosFacturaBeanArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:ConceptosTributariosFacturaBean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoAdicionalFacturaBean">
        <xsd:sequence>
          <xsd:element name="codigoConcepto" nillable="true" type="xsd:string" />
          <xsd:element name="nombreConcepto" nillable="true" type="xsd:string" />
          <xsd:element name="valorConcepto" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoAdicionalFacturaBeanArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:InfoAdicionalFacturaBean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoAdicionalGeneral">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="xsd:string" />
          <xsd:element name="descripcion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoAdicionalGeneralArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:InfoAdicionalGeneral" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DocumentoAfectado">
        <xsd:sequence>
          <xsd:element name="docAfectado" nillable="true" type="xsd:string" />
          <xsd:element name="tipoNotaCredito" nillable="true" type="xsd:string" />
          <xsd:element name="descTipoNotaCredito" nillable="true" type="xsd:string" />
          <xsd:element name="tipoDocModificado" nillable="true" type="xsd:string" />
          <xsd:element name="fechaDocAfectado" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DocumentoAfectadoArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:DocumentoAfectado" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="recepcionFactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="recepcionFactReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recepcionFactResponse">
    <wsdl:part name="parameters" element="impl:recepcionFactResponse" />
  </wsdl:message>
  <wsdl:message name="recepcionFactRequest">
    <wsdl:part name="parameters" element="impl:recepcionFact" />
  </wsdl:message>
  <wsdl:portType name="WSFERecepcionFact">
    <wsdl:operation name="recepcionFact">
      <wsdl:input name="recepcionFactRequest" message="impl:recepcionFactRequest" />
      <wsdl:output name="recepcionFactResponse" message="impl:recepcionFactResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:WSFERecepcionFact">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recepcionFact">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="recepcionFactRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recepcionFactResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFERecepcionFactService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="https://www.qnan.com.pe:443/aplicaciones/Gilat/FE/FE.nsf/WSFERecepcionFactSAP?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>