YVINQABXY/Processes/ElectronicBilling/WebService/CreateCustomer/EWSCreateCustomer-WSFECrearCliente_TEST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:ws.qnan.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:ws.qnan.com" xmlns:intf="urn:ws.qnan.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="urn:ws.qnan.com" xmlns="http://www.w3.org/2001/XMLSchema"><element name="Crear"><complexType><sequence><element name="ruc_emisor" type="xsd:string"/><element name="ruc_cliente" type="xsd:string"/><element name="razon_social_cliente" type="xsd:string"/><element name="correo" type="xsd:string"/></sequence></complexType></element><element name="CrearResponse"><complexType><sequence><element name="CrearReturn" type="xsd:string"/></sequence></complexType></element></schema></wsdl:types><message name="CrearRequest"><part element="impl:Crear" name="parameters"/></message><message name="CrearResponse"><part element="impl:CrearResponse" name="parameters"/></message><portType name="CrearCliente"><operation name="Crear"><input message="impl:CrearRequest" name="CrearRequest"/><output message="impl:CrearResponse" name="CrearResponse"/></operation></portType><binding name="DominoSoapBinding" type="impl:CrearCliente"><wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="Crear"><wsdlsoap:operation soapAction="Crear"/><input name="CrearRequest"><wsdlsoap:body use="literal"/></input><output name="CrearResponse"><wsdlsoap:body use="literal"/></output></operation></binding><service name="CrearClienteService"><port binding="impl:DominoSoapBinding" name="Domino"><wsdlsoap:address location="https://www.qnan.com.pe:443/aplicaciones/Gilat/FE/FE1.nsf/WSFECrearCliente?OpenWebService"/></port></service></definitions>